.site-header {

	@extend .util-clearfix;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;

}

.site-logo {

	width: 100%;
	margin: 0 auto;
	padding-left: 4 * $gutter-width;
	padding-right: 4 * $gutter-width;

	h1 {
		margin: 0;
		padding: 0;
	}

	.pg-logo {

		display: block;

		@media #{ $mq-md-down } {
			margin-left: auto;
			margin-right: auto;
		}

	}

	.site-title  {
		@include font-heading;
		@include text-sm;
		color: $white;
		text-align: center;
		position: relative;
	}

	@media #{ $mq-md-up } {
		width: 300px;
	}

}

.site-search {

	display: block;
	width: 100%;

	@media #{ $mq-md-up } {
		width: auto;
		flex: 1;
	}

	.StyleGuide_SearchContainer {
		max-width: 900px;
		float: right;

		@media #{ $mq-md-down } {
			padding-top: 1rem;
		}
	}

}
