$images-path: "./../../../vendor/hm-pattern-library/assets/images" !default;

// External
@import "./../../../vendor/pg-pattern-library/assets/scss/core";
@import "./../../../vendor/hm-pattern-library/src/styles/base/typography-mixins";
@import "./../../../vendor/hm-pattern-library/src/styles/utilities/clearfix";

@import "normalize";
@import "variables";

$white: #FFF;
$border-color: color( blue, light );

// Base
@import "base/variables";
@import "base/layout";
@import "base/fonts";

// Components
@import "components/header";
@import "components/sidebar";
@import "components/footer";
@import "components/article";
@import "components/site-content-header";
@import "components/Pagination";
@import "components/PageHistory";
@import "components/Nav";
@import "components/SearchBar";
@import "components/comments";
@import "components/updates";

.article {
	position: relative;
}

.widget {
	@include text-sm;
}

.widget-title {
	@include text-md;
}

.widget_text {

	.pg-logo {
		margin-left: 0;
		margin-bottom: 0;
	}

}

.NavAccordion {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    list-style: none;
    margin: 0;
    padding: 0;
}

.NavAccordion_Item {
    display: block;

    &:not(:last-child) {
        border-bottom: 1px solid #d9d9d9;
    }

    .NavAccordion_Item {
        border-bottom: none;

        .NavAccordion_Anchor:after {
            content: " ";
            width: .5rem;
            border-bottom: 1px solid #d9d9d9;
            margin-top: -1px;
            position: absolute;
            top: 1.125rem;
            left: -1.25rem;
        }
    }

    ul {
        position: relative;
        padding-left: 1.25rem;

        &:after {
            content: " ";
            border-left: 1px solid #d9d9d9;
            top: -1px;
            bottom: 1.125rem;
            left: 0;
            position: absolute;
        }
    }

    > ul {
        display: none;
    }
}

.NavAccordion_Item-Active {
    color: color(blue);
}

.NavAccordion_Item-Open {

    > ul {
        display: block;
    }

    > a .NavAccordion_Toggle:after {
        transform: rotate(180deg);
    }
}

.NavAccordion_Anchor {
    display: block;
    padding: .375rem 0;
    position: relative;

    .NavAccordion_Item-Active > & {
        color: inherit;
    }

    &:hover {
        color: inherit;
    }
}

.NavAccordion_Toggle {
    display: none;
    position: relative;
    float: right;
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.25rem;
    text-indent: 100%;
    overflow: hidden;
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color .2s ease-out;

    &:after {
        content: " ";
        position: absolute;
        top: 50%;
        left: 50%;

        width: 10px;
        height: 10px;
        margin-left: -5px;
        margin-top: -5px;

        background: url(./../images/icon-caret-down.svg) no-repeat center center;
        background-size: 100% 100%;
        text-indent: 0;
        opacity: 0.75;
    }

    &:hover {
        background-color: rgba(black, 0.1);

        &:after {
            opacity: 1;
        }
    }

    .NavAccordion_Item-HasChildren > a & {
        display: block;
    }
}

.PageHistory_List_Container {
    padding: 1rem;

    .c-btn {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
    }
}

.PageHistory_List_Container-Collapsed {
    height: 6rem;
}
