$images-path: "./../../../vendor/hm-pattern-library/assets/images" !default;

// External
@import "./../../../vendor/pg-pattern-library/assets/scss/core";
@import "./../../../vendor/hm-pattern-library/src/styles/base/typography-mixins";
@import "./../../../vendor/hm-pattern-library/src/styles/utilities/clearfix";

@import "normalize";
@import "variables";

$white: #FFF;
$border-color: color( blue, light );

// Base
@import "base/variables";
@import "base/layout";
@import "base/fonts";

// Components
@import "components/header";
@import "components/sidebar";
@import "components/footer";
@import "components/article";
@import "components/site-content-header";
@import "components/Pagination";
@import "components/PageHistory";
@import "components/Nav";
@import "components/SearchBar";
@import "components/comments";
@import "components/updates";

.article {
	position: relative;
}

.widget {
	@include text-sm;
}

.widget-title {
	@include text-md;
}

.widget_text {

	.pg-logo {
		margin-left: 0;
		margin-bottom: 0;
	}

}

.NavAccordion {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    list-style: none;
    margin: 0;
    padding: 0;
}

.NavAccordion_Item {
    display: block;

    &:not(:last-child) {
        border-bottom: 1px solid #d9d9d9;
    }

    .NavAccordion_Item {
        border-bottom: none;
    }

    ul {
        padding-left: 1rem;
    }
}

.NavAccordion_Anchor {
    display: block;
    padding: .375rem 0;
    position: relative;

    &:hover {
        color: inherit;
    }
}